<ion-header>
  <ion-toolbar>
    <ion-title>
      Planejamento Financeiro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h5>Bem vindo ao nosso app de Planejamento Financeiro!</h5>
  <div *ngIf="planejamentos.length > 0">
    <h2>Seus Planejamentos</h2>
    <div *ngFor="let planejamento of planejamentos">
      <ion-card>
        <ion-card-content>
          <h2>{{planejamento.nome}}</h2>
          <p> {{planejamento.faturamento}}</p>
          <p> {{planejamento.custo}}</p>
          <p style="text-align: right">
            <ion-button color='danger' size='small' (click)="excluir(planejamento.nome)">
              <ion-icon name='trash'></ion-icon>
            </ion-button>
          </p>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  <div *ngIf="planejamentos.length === 0">
    <p>Ainda não há planejamentos cadastrados!</p>
    <ion-button expand="block" color="tertiary" [routerLink]='["/novo-planejamento"]'>Novo Planejamento</ion-button>
  </div>
</ion-content>
